# Notion 配置
NOTION_TOKEN=ntn_你的token
NOTION_LINKS_DB_ID=24a92d03a33b813a99dcefa360c662d7
NOTION_WEBSITE_CONFIG_ID=24892d03a33b8088a11ad7842c1cb3a8
NOTION_CATEGORIES_DB_ID=24892d03a33b8004b0b1fc936edc99f8

# 站点配置
NEXT_PUBLIC_SITE_URL=https://nav.ai233.top

# 分析（可选）
NEXT_PUBLIC_CLARITY_ID=
GA_ID=
